body{
    background-color: rgb(224, 207, 207);
}

#account{
    height: 300px;
    width: 300px;
    margin: 100px auto;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
h2{
    background-color: black;
    color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit{
    margin-left: 50%;
    border-radius:50% ;
    color: rgba(255, 0, 0, 1);
    background-color: rgb(14, 2, 2);
}